.gameMainContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 2rem;
  width: 100%;
}
.loadingErrorMainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1300px) {
  .gameMainContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1058px) {
  .gameMainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 862px) {
  .gameMainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
